[Unit]
Description=Sync Caelestia Theme to SDDM
DefaultDependencies=no
After=display-manager.service
Before=shutdown.target reboot.target

[Service]
Type=oneshot
ExecStart=/usr/share/sddm/themes/caelestia/scripts/sync.sh
RemainAfterExit=yes

[Install]
WantedBy=halt.target reboot.target shutdown.target